---

import ThreeJsProjects from '../components/ThreeJsProjects.vue';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="h-full w-full bg-gradient-to-b ">
		<div class="relative w-full h-full flex items-start justify-center">			
			<div class="relative z-10 w-full mx-auto px-4 h-full">
				<ThreeJsProjects client:load />
			</div>
		</div>
	</div>
</Layout>
