---
import Layout from '../layouts/Layout.astro';
import TextStrengthComponent from '../components/TextStrength.vue';
---

<Layout>
	<main class="h-full w-full">
        <TextStrengthComponent client:load />
	</main>
</Layout>
